<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>运营首页</title>
</head>
<body>
<div class="container">
    <h2>运营首页</h2>
    <div class="btn-toolbar" role="toolbar" aria-label="跳转按钮组">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class="btn btn-secondary" href="/">返回首页</a>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="管理列表">
            <a class="btn btn-secondary" href="/emp/drug">药品管理</a>
            <a class="btn btn-secondary" href="/emp/patient">患者管理</a>
            <a class="btn btn-secondary" href="/emp/doctor">医生管理</a>
            <a class="btn btn-secondary" href="/emp/rx">处方管理</a>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
            <a class="btn btn-secondary" href="/logout">退出登录</a>
        </div>
    </div>

    <div>
        <!--  TODO 药品管理  患者管理  医生管理 处方管理  -->
    </div>
</div>

</body>
</html>